name: Release

on:
  push:
    branches: [main]

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Version
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4

      - name: Debug - test build
        run: |
          pip install build twine
          python -m build
          ls -la dist/
          echo "--- twine check ---"
          twine check dist/*

      - uses: wevm/changelogs@master
        with:
          ecosystem: python
          pypi-token: ${{ secrets.PYPI_TOKEN }}
          conventional-commit: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
